<ion-header class="ion-header-bar">
  <ion-toolbar
    color="40deg,
  #00fffc 0%,
  #fc00ff 45%,
  #fffc00 100%"
  >
    <ion-title> Viagens </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./madison.jpg" />
    <ion-item>
      <ion-icon name="ribbon" slot="start"></ion-icon>
      <ion-label>titulo</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>data</ion-label>
    </ion-item>
  </ion-card>


  <app-lista-registro tipo="Viagem"></app-lista-registro>

</ion-content>


