<ion-header class="ion-header-bar">
  <ion-toolbar
    color="40deg,
  #00fffc 0%,
  #fc00ff 45%,
  #fffc00 100%"
  >
    <ion-title> Relacionamento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="favorite" style="text-align:center">
    <br><ion-button color="light" size="large" style="width:70%;height:60px;" [routerLink]="['ano1']">1 Ano</ion-button><br><br>
    <ion-button color="light" size="large" style="width:70%;height:60px;" [routerLink]="['ano2']">2 Anos</ion-button><br><br>
    <ion-button color="light" size="large" style="width:70%;height:60px;" [routerLink]="['ano3']">3 Anos</ion-button><br><br>
    <ion-button color="light" size="large" style="width:70%;height:60px;" [routerLink]="['ano4']">4 Anos</ion-button>
  </ion-list>
</ion-content>
