<ion-header class="ion-header-bar">
  <ion-toolbar color="40deg,
  #00fffc 0%,
  #fc00ff 45%,
  #fffc00 100%">
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <label for="Image">Image file</label>
  <input type="file" (change)="upload($event)" accept="*.png.jpg.mp4" id="">
  <button (click)="uploadImage()">Upload Image</button>
</ion-content>

